@media screen and (max-width: 1368px) {
	.container {
		padding-left: 67px;
	}	
}

@media screen and (max-width: 650px) {
	.container {
		padding-left: 35px;
	}
}

@media screen and (max-width: 565px) {
	.container {
		padding-left: 20px;
	}
}