@media screen and (max-width: 1750px) {

	.crypto-community__patterns {
		padding-left: 110px;
	}

	.crypto-community__list {
		margin-right: 6%;
	}
}


@media screen and (max-width: 1680px) {
	.crypto-community__advantage--2 {
		margin-right: 4%;
	}
}

@media screen and (max-width: 1570px) {
	.crypto-community__list {
		margin-right: 2%;
	}

	.crypto-community__patterns {
		padding-left: 0;
	}

	.crypto-community__dots {
		display: none;
	}

	.crypto-community__technology--2 {
		margin-left: 440px;
	}

	.crypto-community__advantages {
    margin-left: -13px;
	}

	.crypto-community__advantage {
		padding-right: 25px;
		padding-left: 40px;
	}

	.crypto-community__advantage--2 {
		max-width: 580px;
	}
}

@media screen and (max-width: 1368px) {
	.crypto-community {
    padding-top: 449px;
    margin-left: 5px;
	}

	.crypto-community__technologies {
		padding-top: 102px;
		justify-content: space-between;
	}

	.crypto-community__technology--2 {
		margin-left: 0;
		margin-right: 131px;
    margin-top: -3px;
	}

	.crypto-community__patterns {
		padding-top: 170px;
	}

	.crypto-community__list {
		margin-top: -10px;
		margin-right: 5%;
	}

	.crypto-community__advantages {
    margin-left: 0;
		padding-top: 139px;
	}

	.crypto-community__advantage {
		padding-left: 58px;
	}
	
	.crypto-community__advantage--1 {
		min-width: 577px;
	}

	.crypto-community__advantage--2 {
		max-width: 638px;
		margin-right: 5%;
		padding-left: 42px;
	}
}

@media screen and (max-width: 1330px) {
	.crypto-community__list {
		margin-right: 2%;
	}
}

@media screen and (max-width: 1280px) {
	.crypto-community__patterns {
    flex-direction: column;
	}

	.crypto-community__list {
		padding-top: 44px;
	}

	.crypto-community__item {
		margin: 0 20px 21px 0;
	}


	.crypto-community__advantages {
		flex-direction: column;
	}

	 .crypto-community__advantage {
		max-width: 100%;
		margin-bottom: 120px;
	}

	.crypto-community__advantage,
	.crypto-community__advantage:not(:last-child) {
		margin-right: 60px;
	}

	.crypto-community__advantage--1 {
		min-width: auto;
	}
}

@media screen and (max-width: 1170px) {
	.crypto-community__technologies {
		flex-direction: column;
	}

	.crypto-community__technology--2 {
		margin-right: 0;
		margin-top: 75px;
	}
}

@media screen and (max-width: 912px) {
	.crypto-community {
    padding-top: 545px;
    margin-left: -7px;
	}
	
	.crypto-community__technologies {
		padding-top: 89px;
	}

	.crypto-community__technology--2 {
    margin-top: 97px;
	}

	.crypto-community__patterns {
    padding-top: 118px;
	}

	.crypto-community__list {
    padding-top: 54px;
		margin-right: 0;
	}

	.crypto-community__advantages {
		padding-right: 128px;
    padding-left: 59px;
	}

	.crypto-community__advantage,
	.crypto-community__advantage:not(:last-child) {
		margin-right: 0;
	}

	.crypto-community__advantage {
		padding-right: 61px;
	}

	.crypto-community__advantage--2 {
		padding-left: 67px;
	}
}

@media screen and (max-width: 850px) {
	.crypto-community__advantages {
		padding-left: 0;
		padding-right: 67px;
	}
}

@media screen and (max-width: 820px) {
	.crypto-community__item--2 .crypto-community__item-text {
		max-width: 100%;
	}

	.crypto-community__item {
		max-width: 100%;
	}
}


@media screen and (max-width: 650px) {

	.crypto-community {
    padding-top: 331px;
    margin-left: -7px;
	}

	.crypto-community__technologies {
		padding-left: 0;
		font-size: 22px;
    line-height: 31px;
	}

	.crypto-community__technology::before,
	.crypto-community__technology::after {
		top: -60px;
		left: 0;
	}

	.crypto-community__technology--1::before,
	.crypto-community__technology--2::before {
		left: 53px;
	}

	.crypto-community__technology--1::after {
		height: 53px;
		width: 32px;
	}

	.crypto-community__technology--1::before {
		height: 57px;
		width: 57px;
	}

	.crypto-community__technology--2::after {
		height: 46px;
		width: 48px;
	}

	.crypto-community__technology--2::before {
		height: 51px;
		width: 54px;
	}

	.crypto-community__dots {
		display: block;
		top: -27px;
    left: 25px;
	}

	.crypto-community__advantages {
		padding-right: 0;
	}

	.crypto-community__advantage, 
	.crypto-community__advantage:not(:last-child) {
		margin-right: 40px;
	}
}

@media screen and (max-width: 540px) {
	.crypto-community__advantage-text {
		font-size: 18px;
		line-height: 25px;
	}
}

@media screen and (max-width: 420px) {

	.crypto-community__advantage-text {
		font-size: 16px;
		line-height: 25px;
	}

	.crypto-community {
		padding-top: 239px;
    margin-left: 9px;
	}

	.crypto-community__technologies {
		margin-left: -4px;
		font-size: 16px;
		line-height: 24px;
		max-width: 180px;
	}

	.crypto-community__technology--1 {
    margin-top: 6px;
	}
	
	.crypto-community__technology--2 {
		margin-top: 109px;
	}

	.crypto-community__patterns {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;

		padding-top: 86px;
    margin-left: -2px;
	}

	.crypto-community__dots {
    top: -34px;
	}

	.crypto-community__pattern {
    max-width: 257px;
	}

	.crypto-community__item {
    margin: 0px 25px 6px 0;
	}

	.crypto-community__item-header {
		padding: 0 8px;
	}

	.crypto-community__item-body {
		height: 26px;
	}

	.crypto-community__item-title {
		font-size: 10px;
		line-height: 20px;
	}

	.crypto-community__item-text {
		font-size: 10px;
	}

	.crypto-community__list {
		padding-top: 36px;
	}

	.crypto-community__advantages {
		padding-top: 71px;
	}

	.crypto-community__advantage {
		margin-bottom: 97px;
		padding-left: 34px;
		padding-right: 14px;
		padding-bottom: 19px;
	}
}
