@media screen and (max-width: 1920px) {
	.header-background {
		background-image: url('../../images/bg/header-1920-bg.jpg');
		min-height: 810px;
	}
}

@media screen and (max-width: 1368px) {

	.header-background {
		background-image: url('../../images/bg/header-1368-bg.jpg');
		min-height: 749px;
		padding-top: 63px;
	}

	.header__top {
		max-width: 971px;
	}

	.header__image {
		background-image: url('../../images/header/dapplets-project-table-horizontal.png');
		height: 225px;
	}

	.header__title {
		max-width: 780px;
		font-size: 56px;
		line-height: 68px;
	}

	.header__title-description {
		display: inline;
	}

	.header__title-border {
		display: none;
	}

	.header__project {
		font-size: 45px;
		line-height: 55px;
	}

	.header__bottom {
    padding-top: 69px;
	}

	.header__informations {
		padding-top: 0px;
		margin-left: 6px;
		margin-top: -81px;
	}

	.header__information--1 {
    margin-right: 152px;
	}

	.header__information {
		margin-top: 50px;
	}
}

@media screen and (max-width: 1700px) {
	.header__image {
		background-size: contain;
	}
}

@media screen and (max-width: 912px) {

	.header-background {
		padding-top: 74px;
		background-image: url('../../images/bg/header-912-bg.jpg');
		min-height: 560px;
	}

	.header__top {
		max-width: 633px;
	}

	.header__project {
		font-size: 24px;
		line-height: 29px;
		margin-right: 6px;
		letter-spacing: 1.4px;
	}

	.header__image {
		background-size: auto;
		max-width: 633px;
		height: 145px;
		background-image: url('../../images/header/dapplets-project-table-vertical.png');
	}

	.header__bottom {
    padding-top: 57px;
	}

	.header__informations {
		margin-top: -57px;
  	margin-left: 0px;
	}

	.header__information {
    margin-top: 18px;
	}	

	.header__text br {
		display: inline;
		content: ' ';
		clear:none;
	}

	.header__text br::after {
		content: ' ';
	}

	.header__information--1 .header__text {
		max-width: 599px;
	}

	.header__information--2 .header__text {
		max-width: 516px;
	}

	.header__information--3 {
		margin-top: 31px;
	}

}

@media screen and (max-width: 750px) {

	.header__image {
		background-size: contain;
	}
}

@media screen and (max-width: 650px) {

	.header-background {
		min-height: 500px;
	}

	.header__title {
		font-size: 35px;
		line-height: 43px;
	}

	.header__bottom {
    padding-top: 5px;
	}

	.header__information {
		max-width: 100%;
		margin-right: 0;
	}

	.header__text {
		font-size: 20px;
		line-height: 32px;
	}

	.header__information,
	.header__information--3 {
		margin-top: 14px;
	}

	.header__informations {
		padding-right: 35px;
	}
}

@media screen and (max-width: 556px) {
	.header__informations {
		padding-right: 20px;
	}
}

@media screen and (max-width: 490px) {

.header-background {
		min-height: 415px;
	}

	.header__image {
		height: 100px;
	}

	.header__informations {
		padding-top: 80px;
	}
}

@media screen and (max-width: 420px) {

	.header-background {
		padding-right: 20px;
		padding-top: 28px;
		min-height: 297px;
	}

	.header__image {
		background-size: auto;
		max-width: 100%;
		height: 65px;
		background-image: url('../../images/header/dapplets-project-mobile.png');
		background-position: center;
	}

	.header__project {
		font-size: 10px;
		margin-right: -2px;
		line-height: 12px;
	}

	.header__title {
		text-align: center;
		font-size: 24px;
		line-height: 29px;
	}

	.header__bottom {
		padding-top: 30px;
	}

	.header__informations {
		padding-top: 36px;
		margin-top: -68px;
		margin-left: 6px;
	}

	.header__text {
		font-size: 16px;
		line-height: 25px;
	}

	.header__information--3 {
    padding-top: 8px;
	}

	.header__information--1 .header__text {
    max-width: 269px;
	}

	.header__information--2 .header__text {
    max-width: 218px;
	}

	.header__information--3 .header__text {
		max-width: 256px;
	}
}

@media screen and (max-width: 360px) {
	.header-background {
		background-image: url('../../images/bg/header-320-bg.jpg');
	}
}

