@media screen and (max-width: 1368px) {
	.title {
		font-size: 56px;
		line-height: 68px;
	}

	.title__empty {
		display: none;
	}

	.title__advantages {
		font-size: 86px;
		line-height: 105px;
	}

	.title__size-s {
		font-size: 56px;
		line-height: 68px;
	}
}

@media screen and (max-width: 720px) {
	.title__crypto-community {
		font-size: 50px;
    line-height: 60px;
	}
}

@media screen and (max-width: 650px) {
	.title {
		font-size: 35px;
    line-height: 43px;
	}

	.title__size-s {
    font-size: 40px;
    line-height: 53px;
	}
}

@media screen and (max-width: 540px) {
.title__advantages {
		font-size: 24px;
		line-height: 29px;
	}
}

@media screen and (max-width: 420px) {
	.title {
		font-size: 24px;
		line-height: 29px;
	}

	.title__out-mission {
		max-width: 135px;
	}

	.title__crypto-community {
		max-width: 273px;
	}

	.title__size-s {
    font-size: 24px;
		line-height: 29px;
	}
}

