@media screen and (max-width: 1368px) {
	.window--size-1 {
		max-width: 654px;
	}

	.window__big-bg-top {
		top: -414px;
	}

	.window--size-2 {
    max-width: 772px;
    min-height: 299px;
	}

	.window__big-bg-bottom {
		bottom: -404px;
	}

	.window-slider {
		max-width: 792px;
		padding: 47px 151px 23px 143px;
	}

	.window-slider .window__description {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 912px) {
	.window__big-bg-top {
    top: -428px;
	}

	.window--size-2 {
    max-width: 659px;
		padding: 42px 32px 41px 51px;
	}

	.window__big-bg-bottom {
		bottom: -463px;
	}

	.window__big-bg-bottom .window__title {
		max-width: 491px;
	}
}

@media screen and (max-width: 890px) {
		.window-slider {
		max-width: 590px;
		padding: 47px 110px 27px 114px;
	}

	.window-slider .window__title {
		font-size: 32px;
    line-height: 35px;
	}

	.window-slider .window__description {
		font-size: 21px;
    line-height: 27px;
	}

	.window-slider .window__link {
		font-size: 21px;
    line-height: 26px;
	}
}

@media screen and (max-width: 720px) {
	.window-slider__arrow--left {
		left: 10px;
	}

	.window-slider__arrow--right {
		right: 10px;
	}

	.window-slider {
		padding: 47px 78px 27px 95px;
	}
}


@media screen and (max-width: 650px) {
	.window__big-bg-top {
   	top: -295px;
		right: -35px;
	}

	.window__big-bg-bottom {
		right: -35px;
	}

	.window-slider {
		height: auto;
		padding: 47px 65px 25px 58px;
	}

	.window-slider .window__title {
    font-size: 25px;
    line-height: 29px;
	}

	.window-slider .window__description {
		margin-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
	}

	.window-slider .window__link {
    font-size: 16px;
    line-height: 22px;
	}

	.window-slider__arrow {
		max-width: 50px;
	}
}

@media screen and (max-width: 565px) {
	.window__big-bg-top {
		right: -20px;
	}

	.window__big-bg-bottom {
		right: -20px;
	}
}

@media screen and (max-width: 540px) {
	.window__big-bg-bottom {
		bottom: -335px;
	}
}


@media screen and (max-width: 490px) {

	.window__big-bg-bottom {
		bottom: -158px;
	}

	.window--size-1,
	.window--size-2 {
		max-width: 241px;
		height: 120px;
		min-height: auto;

		padding: 10px 17px 19px 24px;
	}

	.window--size-1	.window__description,
	.window--size-2	.window__description {
		margin-bottom: 7px;
	}

	.window__title {
		font-size: 16px;
		line-height: 19px;
	}

	.window__description {
		font-size: 14px;
		line-height: 20px;
	}

	.window__link {
		font-size: 16px;
		line-height: 30px;
	}

	.window__big-bg-top {
		top: -147px;
	}

}


@media screen and (max-width: 420px) {

	.window-slider {
		padding: 18px 59px 4px 49px;
		min-height: auto;
	}

	.window-slider .window__title {
    font-size: 16px;
		line-height: 19px;
	}

	.window-slider .window__description {
    margin-bottom: 0;
    font-size: 10px;
		line-height: 15px;
		font-weight: 300;
	}

	.window-slider .window__link {
    font-size: 10px;
		line-height: 30px;
	}

	.window-slider__arrow {
    max-width: 38px;
		transform: translateY(-102%);
	}

	.window-slider__arrow--left {
		transform: translateY(-102%) rotate(180deg);
	}	
}

