@media  screen and (max-width: 1920px){
	.wrapper-big-bg { 
		background-image: url('../../images/bg/big-bg-1920-bg.jpg');
		min-height: 3200px;
	}
}

@media screen and (max-width: 1368px) {
	.wrapper-big-bg  {
		background-image: url('../../images/bg/big-bg-1368-bg.jpg');
		min-height: 3144px;
		margin-top: 82px;
	}
}

@media screen and (max-width: 912px) {
	.wrapper-big-bg  {
		background-image: url('../../images/bg/big-bg-912-bg.jpg');
		min-height: 4211px;
		margin-top: -67px;
	}
}

@media screen and (max-width: 360px) {
	.wrapper-big-bg {
		background-image: url('../../images/bg/big-bg-320-bg.jpg');
		min-height: 3400px;
	}
}

@media screen and (max-width: 330px) {
	.wrapper-big-bg {
		min-height: 3116px;
	}
}

