.header-background {
	background-image: url('../../images/header-bg/header-bg-desktop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 810px;
	padding-top: 78px;
	padding-right: 54px;
}

.header__top {
	max-width: 1160px;
	margin-left: auto;
}

.header__project {
	display: block;
	text-align: right;

	margin-right: 18px;
	letter-spacing: 2.8px;

	font-weight: 200;
	font-size: 64px;
	line-height: 59px;
	color: #232629;
}

.header__image {
	display: block;
	background-image: url('../../images/header/dapplets-project.png');
	background-repeat: no-repeat;
	height: 259px;
}

.header__bottom {
	padding-top: 24px;
}

.header__title {
	font-family: 'Montserrat', sans-serif;

	max-width: 1010px;

	font-weight: 900;
	font-size: 86px;
	line-height: 105px;

	color: #232629;
}

.header__title-main {
	position: relative;
}

.header__title-border {
	position: absolute;
	top: -4px;
	left: -5px;

	-webkit-text-fill-color:transparent; 
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: rgba(#000000, .2);
}

.header__title-description {
	display: block;
	font-weight: 100;
}

.header__informations {
	display: flex;
	flex-wrap: wrap;

	padding-right: 54px;
	margin-left: -5px;
	padding-top: 25px;
}

.header__information--1 {
	margin-right: 120px;
}

.header__information--3 {
	margin-top: 63px;
	max-width: 1040px;

	// Для 4к маниторов
	// Чтобы этот текст переносился вниз
	margin-right: 358px;
}

.header__dots {
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #FAFAFA;

	margin-bottom: 10px;
}

.header__dots::before,
.header__dots::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #FAFAFA
}
.header__dots::before {
	left: 20px;
}

.header__dots::after {
	left: 40px;
}

.header__text {
	font-weight: 500;
	font-size: 24px;
	line-height: 50px;
	color: rgba(40, 47, 56, 0.8);
}
