.our-mission {
	position: relative;
	padding-top: 168px;
	padding-bottom: 38px;

	z-index: 2;
}

.our-mission__list {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	padding-right: 40px;
	margin-left: -13px;
	font-weight: 300;
	font-size: 36px;
	line-height: 50px;
	color: rgba(40, 47, 56, 0.8);

	list-style: none;
}

.our-mission__item {
	position: relative;
	max-width: 360px;
	margin-top: 45px;
}

.our-mission__item::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -27px;
	width: 180px;
	height: 8px;
	background-color: #FAFAFA;
}

.our-mission__item--1 {
	margin-right: 67px;
}
.our-mission__item--2 {
	margin-right: 101px;
}
.our-mission__item--3 {
	margin-right: 89px;
}

