.partners {
	padding-top: 163px;
}

.partners__wrapper {
	padding-left: 126px;
	padding-right: 300px;
}

.partners__description {
	max-width: 1228px;
	padding-top: 20px;
	padding-left: 10px;
}

.partners__text {
	font-weight: 300;
	font-size: 36px;
	line-height: 50px;
	color: rgba(40, 47, 56, 0.8);
	margin-bottom: 51px;
}
