.wrapper-big-bg {
	position: relative;
	min-height: 3219px;
	background-image: url('../../images/bg/big-bg-3840-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}