.form {
	max-width: 442px;
	height: 394px;
	background: rgba(32, 32, 40, 0.5);
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15);
	padding: 26px 40px 31px 32px;
	width: 100%;
}

.form__footer {
	position: absolute;
	right: 7.7%;
	bottom: 0;
}

.form__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;

	color: #FFFFFF;
}

.form__inputs {
	padding-top: 54px;
}

.form__subscribe {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;

	color: #FFFFFF;
}

.form__mail {
	width: 100%;
	margin-bottom: 12px;
}

.form__input {
	padding: 10px 10px;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #E3E3E3;
	box-sizing: border-box;
	border-radius: 8px;

	font-size: 14px;
	color: #919191;
}

.form__input {
	height: 39px;

	&.error {
		color: #FF6442;
		border-color: #FF6442;

		&::placeholder {
			color: #FF6442;
		}
	}
}



.form__button {
	margin-top: 4px;

	border: none;
	background-color: #75B7F4;
	border-radius: 10px;
	padding: 6px 13px;
	max-width: 168px;
	width: 100%;

	font-size: 24px;
	color: #FFFFFF;

	&:hover {
		background-color: #5d9dd8;
	}
}

form.success {

	.form__mail {
		position: relative;

		&::before {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
			padding: 10px;
			border-radius: 8px;
			content: 'Thank you for subscribing!';

			color: #26A651;
			background-color: #D3F8E0;

			font-size: 14px;
		}
	}

	.input {
		visibility: hidden;

		cursor: not-allowed; /* Cursor change to disabled state */
		pointer-events: none !important;
	}

	button {
		pointer-events: none !important;

		color: #E3E3E3 !important;
		border: 1px solid #E3E3E3 !important;
		background-color: #F5F5F5 !important;
	}
}
