.slider {
	padding-top: 271px;
 	background-image: url('../../images/bg/slider-3840-bg.jpg');
	min-height: 803px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slider__list  {
	padding-left: 0;
	list-style: none;
}

.slider-container {
	position: relative;
	width: 901px;
	margin: 0 auto;
}