.window {
	padding: 37px 30px 37px 47px;
	background: rgba(32, 32, 40, 0.5);
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
}

.window--size-1 {
	max-width: 647px;
	width: 100%;
	min-height: 242px;
}

.window--size-2 {
	max-width: 765px;
	padding: 42px 32px 41px 57px;
	width: 100%;
	min-height: 296px;
}

.window__title {
	color: #FFFFFF;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
}

.window__description {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;

	color: rgba(255, 255, 255, 0.9);
}

.window__link {
	font-weight: 900;
	font-size: 24px;
	line-height: 30px;
	color: #75B7F4;
}

.window__link:hover {
	color: #75B7F4;
}

.window__big-bg-top {
	position: absolute;
	top: -291px;
	right: -60px;
}

.window__big-bg-bottom {
	position: absolute;
	bottom: -345px;
	right: -60px;
}

.window__big-bg-top .window__description {
	max-width: 360px;
}

.window-slider {
	position: relative;
	max-width: 901px;
	min-height: 298px;
	padding: 40px 223px 43px 178px;
}

.window-slider .window__title {
	text-transform: capitalize;
	max-width: 409px;
}

.window-slider__arrow {
	border: none;
	position: absolute;
	background-color: transparent;

	top: 50%;
	transform: translateY(-50%);
}

.window-slider__arrow:focus {
	outline: none;
}

.window-slider__arrow img {
	width: 100%;
	pointer-events: none;
}

.window-slider__arrow--left {
	transform: translateY(-50%) rotate(180deg);
	left: 40px;
}

.window-slider__arrow--right {
	right: 40px;
}
